
#recent-posts > .recent-post-item >.recent-post-info > .content {
    display:none;/*隐藏文章详情*/
}

#recent-posts.recent-posts {
    margin-top: 0rem;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: 265px 232px repeat(5,281px);
    grid-row-gap: 1px;
    grid-column-gap: 15px;
    height: auto;
}
#recent-posts > .recent-post-item:nth-child(1){
        grid-column: 1 / span 2;
}
#recent-posts > .recent-post-item:nth-child(2){
        grid-column: 1 / span 2;

}
div#recent-posts > .recent-post-item {
    display: grid;
    justify-items: stretch;
}
.recent-post-info {
    padding: 0 40px;/*容器内部文字左右间距*/
    margin-top: 1em;/*容器内部文字上间距*/
    width: 100%!important;/*容器宽度*/
}

img.post_bg.loaded{
    border-radius: 8px 8px 0 0;/*圆角修改*/
}

#recent-posts > .recent-post-item .post_cover {
    width: 100%; /*图片封面宽度*/
}

#recent-posts > .recent-post-item > .recent-post-info > .article-title {
    -webkit-line-clamp: 1;/*控制标题的行数*/
    margin-top: 0.3rem; /*控制标题的上间距*/
	margin-bottom: 0.3rem;/*控制标题的下间距*/
    color: var(--text-highlight-color);
    font-size: 1.2em; /*控制标题的字体大小*/
    line-height: 1.4;/*控制标题的行高*/
 
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap {
	margin-bottom: 1rem;/*控制标题meta信息的底部间距*/
}

@media screen and (max-width: 768px) {
#recent-posts > .recent-post-item {
 width:100%;/*控制手机自适应*/
}
}
